{{ extends "_document" }}

{{ import "_sidebar"}}
{{ import "_buttons"}}
{{ import "_forms"}}

{{ block smPageHeader(header) }}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{ if header }}{{header}}{{else}}{{ yield content }}{{ end }}</h1>
    </div>
</div>
{{ end }}

{{ block row(class) }}<div class="row {{ if class }}{{ class }}{{ end }}">{{ yield content }}</div>{{ end }}
{{ block col(md=12,lg,xs,sm,class) }}<div class="col-md-{{ md }}{{ if lg }} col-lg-{{ lg }}{{ end }}{{ if xs }} col-xs-{{ xs }}{{ end }}{{ if sm }} col-sm-{{ sm }}{{ end }}{{ if class }}{{ class }}{{ end }}">{{ yield content }}</div>{{ end }}

{{ block smPanelHeading() }}
<div class="panel-heading">{{ yield content }}</div>
{{ end }}

{{ block smPanelContent() }}
<div class="panel-body">{{ yield content }}</div>
{{ end }}

{{ block smPanelFooter() }}
<div class="panel-footer">{{ yield content }}</div>
{{ end }}

{{ block smPanel(header,smStyle="default") }}
<div class="panel panel-{{ smStyle }}">
{{ if header }} <div class="panel-heading">{{ header }}</div> {{ end }}
{{ yield content }}
</div>
{{ end }}

{{ block DocumentContent() }}
<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">Startmin</a>
        </div>

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <!-- Top Navigation: Left Menu -->
        <ul class="nav navbar-nav navbar-left navbar-top-links">
            <li><a href="#"><i class="fa fa-home fa-fw"></i> Website</a></li>
        </ul>

        <!-- Top Navigation: Right Menu -->
        <ul class="nav navbar-right navbar-top-links">
            <li class="dropdown navbar-inverse">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell fa-fw"></i> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-comment fa-fw"></i> New Comment
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>See All Alerts</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> secondtruth <b class="caret"></b>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
            </li>
        </ul>

        {{ if isset(menu) && menu }}
            {{ block PageNav(menu=menu) }}
                {{ yield smSideBarNav() menu}}
            {{ end }}
        {{ end }}
    </nav>

    <!-- Page Content -->
    <div id="page-wrapper">
    <div class="container-fluid">
        {{ yield Content() }}
    </div>
    </div>

</div>
{{ end }}